@*
    
*@
@{
}
<div class="banner p-0">
    <div class=" p-5 text-center shadow-1-strong rounded mb-5 text-warning bg-image position-relative" style="background-image: url('/pic/Banner.jpg');background-size:cover;
            height: 220px">
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-3 text-opacity-50">@ViewData["Banner"]</h1>
        </div>
    </div>
</div>
