<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title fw=bold >@ViewData["Title"] - PONI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/PONI.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div class="container shadow mt-4 p-0 border border-top bg-white">
        <partial name="_Nav" />
    
            @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2022 - www.sula.co.nz - 
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>