@{
      ViewData["Title"] = "Poni Sula";
    ViewData["Banner"] = "About Me";
  }
  <partial name="_Banner" />
  <div class="main">
        <div class="row justify-content-md-center mb-3">
            <div class="col-9 ">
                <h1 class="text-center class fw=bold =" display-4"">@ViewData["Title"]</h1>
                <h3 class="text-center fs-3">Project & People Management Specialist</h3>

                <div class="content lh-base w-100">
                    <p class="text-opacity-50">My name is Poni Sula, I am an award winning people and project manager. I am driven, passionate and succesful with decades of real experience.With an engaing sense of humour and a demonstrable work ethic I present an advantage to any team I work with. </p>
                    <img src="/pic/AboutImage.jpg" class="img-fluid w-50 mx-auto d-block"  />
                    <p>I have earned multiple degrees in IT, Arts, Commerce and Teaching and coupled with decades of celebrated people and project management success, I am delivering a level of practical & academic dedication as a unique and powerful package to the NZ IT industry. In this age of innovation and growth I have a distinctive skillset that will be an asset to any business.</p>
                </div>
             </div>
       </div>
   </div>
